.form{
   max-width:  400px;
   margin: 0 auto;
   text-align: center; 
}

.form label{
    text-align:  left;
    display: block;
}

.form h2{
    font-size: 20px;
    color: blueviolet;
    margin-bottom:  30px;
}

.form input, .form textarea , .form select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.paper {
    margin-top: 100px ;
    display: flex;
    flex-direction: column ;
    align-items: center ;
    padding: 30px ;
}

.avatar {
    margin: 20px;
    background-color: white;
}

.back {
    background-color: aqua;
}
